
.table-my-value {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
/*    border-color: #d5d8db;*/
}



.table-my-value tbody tr:hover {
    background-color: #f5f5f5;
}

.table-my-volny tbody tr:hover {
        background-color: #f5f5f5;
        font-weight: bold;
    }

.table-my-volny {
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
}

.bold-font {
    font-weight: bold;
}

.table-my-value tbody tr td:nth-child(even) {
    font-weight: bold;
}

table.table-my-value.record tbody tr td:nth-child(n+2):nth-child(-n+4),
table.table-my-value.record tbody tr td:nth-child(n+6):nth-child(-n+8) {
    font-weight: bold;
}

/*.table-my-value .green_one {
    background-color: #50F1E7;
}

.table-my-value .green_two {
    background-color: #52CCAB;
}*/

.yellow {
    background-color: #F1E642;
}

.orange {
    background-color: #FF5052;
}

.brown {
    background-color: #970033;
}

.green_one {
    background-color: #50F1E7;
}

.green_two {
    background-color: #52CCAB;
}

.yellow {
    background-color: #F1E642;
}

.orange {
    background-color: #FF5052;
}

.brown {
    background-color: #970033;
}


.header {
    background-color: var(--rz-header-background-color);
    min-height: var(--rz-header-min-height);
    border-bottom: var(--rz-header-border);
    color: var(--rz-header-color);
    box-shadow: var(--rz-header-shadow);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-padding {
    padding-top: 4.1rem; /* výchozí hodnota */
}

@media only screen and (max-width: 600px) {
    .header-padding {
        padding-top: 5.1rem; /* hodnota pro obrazovky s maximální šířkou 600px */
    }
}

@media only screen and (max-width: 430px) {
    .header-padding {
        padding-top: 6.1rem; /* hodnota pro obrazovky s maximální šířkou 400px */
    }
}

@media only screen and (max-width: 320px) {
    .header-padding {
        padding-top: 8.4rem; /* hodnota pro obrazovky s maximální šířkou 400px */
    }
}

.header-padding1 {
    padding-top: 4.3rem; /* výchozí hodnota */
}

@media only screen and (max-width: 600px) {
    .header-padding1 {
        padding-top: 5.3rem; /* hodnota pro obrazovky s maximální šířkou 600px */
    }
}

@media only screen and (max-width: 430px) {
    .header-padding1 {
        padding-top: 6.3rem; /* hodnota pro obrazovky s maximální šířkou 400px */
    }
}

@media only screen and (max-width: 320px) {
    .header-padding1 {
        padding-top: 8.6rem; /* hodnota pro obrazovky s maximální šířkou 400px */
    }
}




.rz-sidebar {
    background-color: var(--rz-sidebar-background-color);
    border-right: var(--rz-sidebar-border-right);
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: var(--rz-sidebar-z);
    width: var(--rz-sidebar-width);
    opacity: 1;
    transition: var(--rz-transition-all);
}


.footer {
    padding: var(--rz-footer-padding);
    border-top: var(--rz-footer-border);
    background-color: #404040;
    color: var(--rz-footer-color);
}


/*.rz-card {
    padding: var(--rz-card-padding);
    border-radius: var(--rz-card-border-radius);
    box-shadow: var(--rz-card-shadow);
    background-color: var(--rz-card-background-color);
}*/


.rz-panel-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    overflow: auto;
    font-size: var(--rz-panel-menu-font-size);
    font-weight: var(--rz-panel-menu-font-weight);
    color: var(--rz-panel-menu-color);
    background-color: var(--rz-panel-menu-background-color);
}

.icon-preview div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    width: 50px;
}

.select-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.hidden {
    display: none;
}

figure.highcharts-figure {
max-width: 100%;
height: auto;
}

:host /deep/ .rz-card {
width: 100%;  
max-width: 100%; 
}


