
.table-my-value {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
    border-color: #d5d8db;
}


.table-my-value tbody tr:hover {
    background-color: #f5f5f5;
}

.bold-font {
    font-weight: bold;
}

.table-my-value tbody tr td:nth-child(even) {
    font-weight: bold;
}

table.table-my-value.record tbody tr td:nth-child(n+2):nth-child(-n+4),
table.table-my-value.record tbody tr td:nth-child(n+6):nth-child(-n+8) {
    font-weight: bold;
}

.table-my-value .green_one {
    background-color: #50F1E7;
}

.table-my-value .green_two {
    background-color: #52CCAB;
}

.yellow {
    background-color: #F1E642;
}

.orange {
    background-color: #FF5052;
}

.brown {
    background-color: #970033;
}

.green_one {
    background-color: #50F1E7;
}

.green_two {
    background-color: #52CCAB;
}

.yellow {
    background-color: #F1E642;
}

.orange {
    background-color: #FF5052;
}

.brown {
    background-color: #970033;
}


.header {
    background-color: var(--rz-header-background-color);
    min-height: var(--rz-header-min-height);
    border-bottom: var(--rz-header-border);
    color: var(--rz-header-color);
    box-shadow: var(--rz-header-shadow);
}



.rz-sidebar {
    background-color: var(--rz-sidebar-background-color);
    border-right: var(--rz-sidebar-border-right);
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: var(--rz-sidebar-z);
    width: var(--rz-sidebar-width);
    opacity: 1;
    transition: var(--rz-transition-all);
}


.footer {
    padding: var(--rz-footer-padding);
    border-top: var(--rz-footer-border);
    background-color: #404040;
    color: var(--rz-footer-color);
}


/*.rz-card {
    padding: var(--rz-card-padding);
    border-radius: var(--rz-card-border-radius);
    box-shadow: var(--rz-card-shadow);
    background-color: var(--rz-card-background-color);
}*/


.rz-panel-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    overflow: auto;
    font-size: var(--rz-panel-menu-font-size);
    font-weight: var(--rz-panel-menu-font-weight);
    color: var(--rz-panel-menu-color);
    background-color: var(--rz-panel-menu-background-color);
}


.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}



.icon-preview div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    width: 50px;
}






