@page "/chart"
@layout MainLayout

<Layout>
    <RadzenContentContainer Name="main">
        <RadzenCard Style="width: 500px;">
            <RadzenHeading Size="H3">Nadpis karty</RadzenHeading>
            <RadzenIcon Icon="check_circle" Style="color: green" />
            <p>Text karty</p>
        </RadzenCard>
        @*<RadzenLineSeries Data="@myData" XField="date" YField="value" />*@
    </RadzenContentContainer>
</Layout>


@code {

}

