@page "/"
@inject ConnectAPI Api
@inject WeatherDB Db

<button @onclick="getstation"> GET Station</button>

<textarea>@navrat_krale</textarea>

<div>
    @if(_loadedSracky != null)
    {


        @foreach(var sracka in _loadedSracky)
            {

                <div>@sracka.data_structure_type</div>
            }
    }
</div>

@code {
    string navrat_krale = "";
    public List<Sensor> srackyZApi;
    public List<Sensor> _loadedSracky;

    async void getstation()
    {
        var srackaZapi = await Api.getstation();
        Db.SaveData_468230( srackaZapi.sensors[0]);
        GetData();
        
    }

    protected override async void OnInitialized()
    {
        GetData();
    }

    public async void GetData()
    {
        _loadedSracky = await Db.GwtFunckingAllShitFrom_468230();
        StateHasChanged();
    }
}
