@page "/main"
@layout MainLayout

@inject ConnectAPI Api
@inject WeatherDB Db

<Layout>
    <RadzenContentContainer Name="main">
        <RadzenCard Style="width: 500px;">
            <ChildContent>
                <RadzenHeading Size="H3">Nadpis karty</RadzenHeading>
                <RadzenIcon Icon="check_circle" Style="color: green" />
                <p>Text karty</p>
            </ChildContent>
        </RadzenCard>
    </RadzenContentContainer>
</Layout>

@code
{
}
